<!DOCTYPE html>
<html>
<head>
    <title>What's that song</title>
</head>
<body>
    <p>Listening for music we know.</p>

    <script>

        function startRecording(recorder) {
            recorder.ondataavailable = (e) => storeChunks(e, recorder.stream);
            recorder.start();
            console.log(recorder.state);
            console.log("recorder started");
            window.setTimeout(() => {
                recorder.stop();
                console.log("recorder stopped");
                // startRecording(recorder);
            }, 15 * 1000);
        }


        async function storeChunks(e, stream) {
            
            console.log(e);
            const data = await e.data.arrayBuffer();
            const response = await postData('/what-song', data);
            console.log(response);
        }

        navigator.mediaDevices.getUserMedia({
                audio: true,
                video: false
            })
            .then(function(stream) {
                const options = {
                    sampleRate: 48000,
                    channelCount: 2,
                    //mimeType: 'audio/webm;codecs=pcm'
                    //mimeType: 'audio/webm;codecs=opus'
                }
                console.log(stream);
                const mediaRecorder = new window.MediaRecorder(stream, options);
                
                startRecording(mediaRecorder);
            })
            .catch(function(err) {
                    console.log(`The following getUserMedia error occured: ${err}`);
                }
            );

        async function postData(url = '', data) {

            const base64String = btoa(String.fromCharCode.apply(null, new Uint8Array(data)));

            const response = await fetch(url, {
                    method: 'POST',
                    mode: 'same-origin',
                    cache: 'no-cache',
                    headers: {
                        'Content-Type': 'application/json',
                       // 'Content-Type': 'audio/webm; codecs=opus',
                       // 'Content-Type': 'audio/webm; codecs=opus'
                    },
                    body: JSON.stringify({
                        bytes: base64String
                    })
                });

            return await response.json(); // parses JSON response into native JavaScript objects
        };

     

    </script>
</body>
</html>