* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9ad0d7;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 10vh 0 0;
  font-size: 6vw;
}

.image {
  display: block;
  max-width: 900px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}